body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #000;
}

.portal-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portal-card {
  background: #071122;
  padding: 35px;
  width: 350px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 
    0 0 11px #00eaff,
    0 0 30px rgba(0, 24, 255, 0.4);
  border: 2px solid #0091ff;
}

.portal-card h2 {
  color: white;
  margin-bottom: 50px;
  font-weight: 600;
}

.portal-card input {
  width: 90%;
  padding: 14px;
  margin-bottom: 18px;
  background: #0e1a2b;
  border: 1px solid #1c2c42;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

.portal-card input::placeholder {
  color: #9ca3af;
}

.portal-card input:focus {
  border: 1px solid #00eaff;
  box-shadow: 0 0 8px #00eaff;
}

.portal-card button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  background: linear-gradient(90deg, #2f6ee6, #3478f6);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.portal-card button:hover {
  opacity: 0.9;
}

.portal-card p {
  margin-top: 20px;
  color: #cbd5e1;
  cursor: pointer;
  font-size: 14px;
}

.portal-card p:hover {
  color: white;
}